.SearchResults {
    width: 50%;
    height: 950px;
    overflow-y: scroll;
    padding: .88rem;
    background-color: #1167b1;
    box-shadow: 0 3px 2px 2px #000000;
    border-radius: 15px;
}

.Result {
text-align: center;
padding-bottom: 5px;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
    .SearchResults {
        width: 90%;
        margin-bottom: 2rem;
    }
}