.Playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 37%;
    max-height: 950px;
    padding: 2.27rem 1.16rem;
    background-color: #1167b1;
    box-shadow: 0 3px 2px 2px #000000;
    border-radius: 15px;
}

.Playlist input {
    width: 100%;
    border: 2px dashed red;
    outline: 0;
    background: transparent;
    /* border-top: 1px solid #6f6f6f; */
    /* border-bottom: 1px solid #6f6f6f; */
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.384);
    border-radius: 15px;
    text-align: center;
    
}

.Playlist-save {
    cursor: pointer;
    width: 10rem;
    padding: .77rem 0;
    border: 1px solid red;
    border-radius: 25px;
    /* border-width: 0; */
    margin-top: 1.1rem;
    background-color: #2a9df4;
    text-align: center;
    font-size: .83rem;
    transition: background-color .25s;
    color: #fff;
    font-weight: 600;
    /* border-color: #1167b1; */
}

.Playlist-save:hover {
    background-color: rgba(108, 65, 233, .7);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
    .Playlist {
        width: 90%;
    }
}